@model Guestt

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Room Details</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css" />
    <style>
        body {
            background-color: #f8f9fa;
            font-family: Arial, sans-serif;
        }

        .container {
            margin-top: 50px;
        }

        .card {
            border-radius: 10px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }

        .card-header {
            background-color: #007bff;
            color: #fff;
            font-size: 24px;
            font-weight: bold;
            text-align: center;
            padding: 20px;
            border-radius: 10px 10px 0 0;
        }

        .details-container {
            padding: 20px;
        }

            .details-container h3 {
                margin-bottom: 20px;
                font-size: 20px;
            }

        .details-list {
            list-style: none;
            padding: 0;
        }

        .details-item {
            margin-bottom: 10px;
        }

        .details-label {
            font-weight: bold;
            width: 150px;
            display: inline-block;
        }

        .back-button {
            margin-top: 30px;
            display: flex;
            justify-content: center;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="card">
            <div class="card-header">
                @Model.FullName's Reservation
            </div>
            <div class="details-container">
                <h2>Information Of Reservation</h2>
                <br />
                <ul class="details-list">
                    <li class="details-item">
                        <span class="details-label">@Html.DisplayNameFor(e => e.ImageUrl)</span>
                        <img src="@Model.ImageUrl" style="width: auto; max-height: 300px;" />

                    </li>
                    <li class="details-item">
                        <span class="details-label">@Html.DisplayNameFor(e => e.FullName)</span>
                        @Html.DisplayFor(e => e.FullName)
                    </li>
                    <li class="details-item">
                        <span class="details-label">@Html.DisplayNameFor(e => e.Gender)</span>
                        @Html.DisplayFor(e => e.Gender)
                    </li>
                    <li class="details-item">
                        <span class="details-label">@Html.DisplayNameFor(e => e.NationalId)</span>
                        @Html.DisplayFor(e => e.NationalId)
                    </li>
                    <li class="details-item">
                        <span class="details-label">@Html.DisplayNameFor(e => e.PhoneNum)</span>
                        @Html.DisplayFor(e => e.PhoneNum)
                    </li>
                    <li class="details-item">
                        <span class="details-label">@Html.DisplayNameFor(e => e.CheckInDate)</span>
                        @Html.DisplayFor(e => e.CheckInDate)
                    </li>
                    <li class="details-item">
                        <span class="details-label">@Html.DisplayNameFor(e => e.CheckOutDate)</span>
                        @if (Model.CheckOutDate == null)
                        {
                            <span>Still In Our Hotel</span>
                        }
                        else
                        {
                            @Html.DisplayFor(e => e.CheckOutDate)
                        }
                    </li>

                    <li class="details-item">
                        <span class="details-label">@Html.DisplayNameFor(e => e.RoomId)</span>
                        @Html.DisplayFor(e => e.Room.Id)
                    </li>
                    <li class="details-item">
                        <span class="details-label">@Html.DisplayNameFor(e => e.Room.Type)</span>
                        @Html.DisplayFor(e => e.Room.Type)
                    </li>
                    <li class="details-item">
                        <span class="details-label">@Html.DisplayNameFor(e => e.Room.Floor)</span>
                        @Html.DisplayFor(e => e.Room.Floor)
                    </li>
                    <li class="details-item">
                        <span class="details-label">@Html.DisplayNameFor(e => e.Room.Price)</span>
                        $@Html.DisplayFor(e => e.Room.Price)
                    </li>
                    @if (Model.CheckOutDate != null)
                    {
                        DateTime startDate = Model.CheckInDate;
                        DateTime endDate = (DateTime)Model.CheckOutDate;

                        TimeSpan duration = endDate - startDate;
                        int numberOfDays = (int)duration.TotalDays;

                        <li class="details-item">
                            <span class="details-label">Duration Of Stay</span>
                            @numberOfDays days
                        </li>
                        <li class="details-item">
                            <span class="details-label">Total Cost</span>
                            $@(numberOfDays * Model.Room.Price)
                        </li>

                    }
                </ul>

                <a asp-controller="Guestt" asp-action="GetIndexView" class="btn btn-outline-danger back-button">
                    Back to List
                </a>
            </div>
        </div>
    </div>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
</body>
</html>
